In [1]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.1'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Ign:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [442 kB]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,689 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,365 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,208 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,781 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [865 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,130 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [252 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [54.3 kB]
Fetched 11.1 MB in 3s (3,808 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-11-22 03:12:15--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  5.05MB/s    in 0.2s

2020-11-22 03:12:15 (5.05 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [6]:
 # Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://mkangbucket.s3.amazonaws.com/jeopardy_new(2).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("jeopardy_new(2).csv"), sep=",", header=True)

# Show DataFrame
df.show()
# df.select(" Value").distinct().show()

+-----------+----------------+----------+--------------------+-----+----+-----+--------------------+--------------------+
|show_number|           round|  air_date|            category|value|year|month|            question|              answer|
+-----------+----------------+----------+--------------------+-----+----+-----+--------------------+--------------------+
|       5147|Double Jeopardy!| 1/16/2007|                1957| 1600|2007|    1|"Jack Kerouac pub...| & Nevil Shute wr...|
|       5147|Double Jeopardy!| 1/16/2007|    U.S. STATE NAMES| 1600|2007|    1|"This state's nam...|               Maine|
|       5147|Double Jeopardy!| 1/16/2007|     BODIES OF WATER| 2000|2007|    1|It sounds servile...|    Great Slave Lake|
|       5147|Double Jeopardy!| 1/16/2007|  ENTERTAINING WOMEN| 2000|2007|    1|"Artie Shaw was m...|         Ava Gardner|
|       5147|Double Jeopardy!| 1/16/2007|        SPEED HAMLET| 1000|2007|    1|He's the Fresh Pr...|          Fortinbras|
|       5147|Double Jeopardy!| 1/16/2007|THAT'S SOME OF YO...| 2000|2007|    1|In 1971 this comp...|               Intel|
|       5147|Double Jeopardy!| 1/16/2007|                1957| 2000|2007|    1|"On July 29, 1957...|            the IAEA|
|       5147|Double Jeopardy!| 1/16/2007|    U.S. STATE NAMES| 2000|2007|    1|"The names of thi...|             Montana|
|       6234|       Jeopardy!|10/27/2011|          ADDRESS ME|  200|2011|   10|This family lives...|        the Simpsons|
|       6234|       Jeopardy!|10/27/2011|  FILL IN THE ANIMAL|  200|2011|   10|A game from Rovio...|               Birds|
|       6234|       Jeopardy!|10/27/2011|THE EMPIRE STRIKE...|  200|2011|   10|The British Denta...|                 gum|
|       6234|       Jeopardy!|10/27/2011|"THE ""BEST"" OF ...|  200|2011|   10|Traditionally he ...|         the bestman|
|       6234|       Jeopardy!|10/27/2011|MOST POPULAR BABY...|  200|2011|   10|1971, boys:  An a...|             Michael|
|       6234|       Jeopardy!|10/27/2011|         MYTHBUSTERS|  200|2011|   10|"(<a href=""http:...| we achieved lift...|
|       6234|       Jeopardy!|10/27/2011|          ADDRESS ME|  400|2011|   10|This rather anima...|           SpongeBob|
|       6234|       Jeopardy!|10/27/2011|  FILL IN THE ANIMAL|  400|2011|   10|A magazine for te...|               Tiger|
|       6234|       Jeopardy!|10/27/2011|THE EMPIRE STRIKE...|  400|2011|   10|U.K. dentists rec...|            fluoride|
|       6234|       Jeopardy!|10/27/2011|"THE ""BEST"" OF ...|  400|2011|   10|"Put this body pa...|      your best foot|
|       6234|       Jeopardy!|10/27/2011|MOST POPULAR BABY...| 1600|2011|   10|1998, girls: One ...|               Emily|
|       6234|       Jeopardy!|10/27/2011|         MYTHBUSTERS|  400|2011|   10|"(<a href=""http:...| Leonardo da Vinc...|
+-----------+----------------+----------+--------------------+-----+----+-----+--------------------+--------------------+
only showing top 20 rows

In [7]:
# import types
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [8]:
# print schema
df.printSchema()

root
 |-- show_number: string (nullable = true)
 |-- round: string (nullable = true)
 |-- air_date: string (nullable = true)
 |-- category: string (nullable = true)
 |-- value: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- question: string (nullable = true)
 |-- answer: string (nullable = true)

In [9]:
 from pyspark.sql.functions import length
# Create a length column to be used as a future feature 
data_df = df.withColumn('length', length(df['category']))
data_df.show()

+-----------+----------------+----------+--------------------+-----+----+-----+--------------------+--------------------+------+
|show_number|           round|  air_date|            category|value|year|month|            question|              answer|length|
+-----------+----------------+----------+--------------------+-----+----+-----+--------------------+--------------------+------+
|       5147|Double Jeopardy!| 1/16/2007|                1957| 1600|2007|    1|"Jack Kerouac pub...| & Nevil Shute wr...|     4|
|       5147|Double Jeopardy!| 1/16/2007|    U.S. STATE NAMES| 1600|2007|    1|"This state's nam...|               Maine|    16|
|       5147|Double Jeopardy!| 1/16/2007|     BODIES OF WATER| 2000|2007|    1|It sounds servile...|    Great Slave Lake|    15|
|       5147|Double Jeopardy!| 1/16/2007|  ENTERTAINING WOMEN| 2000|2007|    1|"Artie Shaw was m...|         Ava Gardner|    18|
|       5147|Double Jeopardy!| 1/16/2007|        SPEED HAMLET| 1000|2007|    1|He's the Fresh Pr...|          Fortinbras|    12|
|       5147|Double Jeopardy!| 1/16/2007|THAT'S SOME OF YO...| 2000|2007|    1|In 1971 this comp...|               Intel|    28|
|       5147|Double Jeopardy!| 1/16/2007|                1957| 2000|2007|    1|"On July 29, 1957...|            the IAEA|     4|
|       5147|Double Jeopardy!| 1/16/2007|    U.S. STATE NAMES| 2000|2007|    1|"The names of thi...|             Montana|    16|
|       6234|       Jeopardy!|10/27/2011|          ADDRESS ME|  200|2011|   10|This family lives...|        the Simpsons|    10|
|       6234|       Jeopardy!|10/27/2011|  FILL IN THE ANIMAL|  200|2011|   10|A game from Rovio...|               Birds|    18|
|       6234|       Jeopardy!|10/27/2011|THE EMPIRE STRIKE...|  200|2011|   10|The British Denta...|                 gum|    25|
|       6234|       Jeopardy!|10/27/2011|"THE ""BEST"" OF ...|  200|2011|   10|Traditionally he ...|         the bestman|    28|
|       6234|       Jeopardy!|10/27/2011|MOST POPULAR BABY...|  200|2011|   10|1971, boys:  An a...|             Michael|    31|
|       6234|       Jeopardy!|10/27/2011|         MYTHBUSTERS|  200|2011|   10|"(<a href=""http:...| we achieved lift...|    11|
|       6234|       Jeopardy!|10/27/2011|          ADDRESS ME|  400|2011|   10|This rather anima...|           SpongeBob|    10|
|       6234|       Jeopardy!|10/27/2011|  FILL IN THE ANIMAL|  400|2011|   10|A magazine for te...|               Tiger|    18|
|       6234|       Jeopardy!|10/27/2011|THE EMPIRE STRIKE...|  400|2011|   10|U.K. dentists rec...|            fluoride|    25|
|       6234|       Jeopardy!|10/27/2011|"THE ""BEST"" OF ...|  400|2011|   10|"Put this body pa...|      your best foot|    28|
|       6234|       Jeopardy!|10/27/2011|MOST POPULAR BABY...| 1600|2011|   10|1998, girls: One ...|               Emily|    31|
|       6234|       Jeopardy!|10/27/2011|         MYTHBUSTERS|  400|2011|   10|"(<a href=""http:...| Leonardo da Vinc...|    11|
+-----------+----------------+----------+--------------------+-----+----+-----+--------------------+--------------------+------+
only showing top 20 rows

In [11]:
hash_df = data_df[["round", "category", "length"]]
hash_df.show()

+----------------+--------------------+------+
|           round|            category|length|
+----------------+--------------------+------+
|Double Jeopardy!|                1957|     4|
|Double Jeopardy!|    U.S. STATE NAMES|    16|
|Double Jeopardy!|     BODIES OF WATER|    15|
|Double Jeopardy!|  ENTERTAINING WOMEN|    18|
|Double Jeopardy!|        SPEED HAMLET|    12|
|Double Jeopardy!|THAT'S SOME OF YO...|    28|
|Double Jeopardy!|                1957|     4|
|Double Jeopardy!|    U.S. STATE NAMES|    16|
|       Jeopardy!|          ADDRESS ME|    10|
|       Jeopardy!|  FILL IN THE ANIMAL|    18|
|       Jeopardy!|THE EMPIRE STRIKE...|    25|
|       Jeopardy!|"THE ""BEST"" OF ...|    28|
|       Jeopardy!|MOST POPULAR BABY...|    31|
|       Jeopardy!|         MYTHBUSTERS|    11|
|       Jeopardy!|          ADDRESS ME|    10|
|       Jeopardy!|  FILL IN THE ANIMAL|    18|
|       Jeopardy!|THE EMPIRE STRIKE...|    25|
|       Jeopardy!|"THE ""BEST"" OF ...|    28|
|       Jeopardy!|MOST POPULAR BABY...|    31|
|       Jeopardy!|         MYTHBUSTERS|    11|
+----------------+--------------------+------+
only showing top 20 rows

In [12]:
 from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer
# Create all the features to the data set
jeop_to_num = StringIndexer(inputCol='round',outputCol='label')
tokenizer = Tokenizer(inputCol="category", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

In [13]:
 from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

# Create feature vectors
clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')

In [15]:

 # Create a and run a data processing Pipeline
from pyspark.ml import Pipeline
data_prep_pipeline = Pipeline(stages=[jeop_to_num, tokenizer, stopremove, hashingTF, idf, clean_up])

In [16]:

# Fit and transform the pipeline
cleaner = data_prep_pipeline.fit(data_df)
cleaned = cleaner.transform(data_df)

In [17]:
# Show label and resulting features
cleaned.select(['label', 'features']).show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  1.0|(262145,[132740,2...|
|  1.0|(262145,[90843,92...|
|  1.0|(262145,[67117,12...|
|  1.0|(262145,[84025,19...|
|  1.0|(262145,[140197,2...|
|  1.0|(262145,[116782,2...|
|  1.0|(262145,[132740,2...|
|  1.0|(262145,[90843,92...|
|  0.0|(262145,[5078,262...|
|  0.0|(262145,[73199,22...|
|  0.0|(262145,[132804,2...|
|  0.0|(262145,[102177,1...|
|  0.0|(262145,[63956,98...|
|  0.0|(262145,[58625,26...|
|  0.0|(262145,[5078,262...|
|  0.0|(262145,[73199,22...|
|  0.0|(262145,[132804,2...|
|  0.0|(262145,[102177,1...|
|  0.0|(262145,[63956,98...|
|  0.0|(262145,[58625,26...|
+-----+--------------------+
only showing top 20 rows

In [18]:
from pyspark.ml.classification import NaiveBayes
# Break data down into a training set and a testing set
training, testing = cleaned.randomSplit([0.7, 0.3])

# Create a Naive Bayes model and fit training data
nb = NaiveBayes()
predictor = nb.fit(training)

In [19]:
 # Tranform the model with the testing data
test_results = predictor.transform(testing)
test_results.show(5)

+-----------+----------------+---------+----------+-----+----+-----+--------------------+---------------+------+-----+------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|show_number|           round| air_date|  category|value|year|month|            question|         answer|length|label|  token_text| stop_tokens|          hash_token|           idf_token|            features|       rawPrediction|         probability|prediction|
+-----------+----------------+---------+----------+-----+----+-----+--------------------+---------------+------+-----+------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|         10|Double Jeopardy!|9/21/1984|      1789|  200|1984|    9|Washington procla...|   Thanksgiving|     4|  1.0|      [1789]|      [1789]|(262144,[35326],[...|(262144,[35326],[...|(262145,[35326,26...|[-164.36414277098...|[1.20767506753592...|       1.0|
|         10|Double Jeopardy!|9/21/1984|  HOMONYMS| 1000|1984|    9|  Didn't see the fog|  missed (mist)|     8|  1.0|  [homonyms]|  [homonyms]|(262144,[62789],[...|(262144,[62789],[...|(262145,[62789,26...|[-103.52467193647...|[1.71545031894887...|       1.0|
|         10|Double Jeopardy!|9/21/1984|  HOMONYMS| 1000|1984|    9|Where ships dock ...|  piers (peers)|     8|  1.0|  [homonyms]|  [homonyms]|(262144,[62789],[...|(262144,[62789],[...|(262145,[62789,26...|[-103.52467193647...|[1.71545031894887...|       1.0|
|         10|Double Jeopardy!|9/21/1984|  HOMONYMS|  400|1984|    9|  Near or a purchase|       by (buy)|     8|  1.0|  [homonyms]|  [homonyms]|(262144,[62789],[...|(262144,[62789],[...|(262145,[62789,26...|[-103.52467193647...|[1.71545031894887...|       1.0|
|         10|Double Jeopardy!|9/21/1984|LITERATURE| 1000|1984|    9|Shaw's scorched s...|St. Joan of Arc|    10|  1.0|[literature]|[literature]|(262144,[7423],[1...|(262144,[7423],[5...|(262145,[7423,262...|[-45.909380601395...|[0.00841182039101...|       1.0|
+-----------+----------------+---------+----------+-----+----+-----+--------------------+---------------+------+-----+------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 5 rows

In [20]:
# Use the Class Evaluator for a cleaner description
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting reviews was: %f" % acc)

Accuracy of model at predicting reviews was: 0.725462